*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

/**
 *Colors
 */
p {
  margin-top: 0;
  margin-bottom: 1em;
}

body {
  margin: 0;
  background: #e5e5e5;
}

.wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  background: #fafafa;
  margin: 1px 0;
}

.container {
  margin: 0;
  padding: 2px;
  background: #f0f0f0;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.feed-icon {
  display: none;
}

@media (min-width: 33em) and (max-width: 47em) {
  .container {
    max-width: 41em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
.sidebar-first #sidebar-first {
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}

@media (min-width: 47em) and (max-width: 60em) {
  .container {
    max-width: 41em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 47em) {
  .container {
    max-width: 50.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .sidebar-first #sidebar-first {
    width: 24.14579%;
    float: left;
    margin-right: 1.13895%;
  }
  .sidebar-first #content {
    width: 74.71526%;
    float: right;
    margin-right: 0;
  }

  .sidebar-second #sidebar-second {
    width: 24.14579%;
    float: right;
    margin-right: 0;
  }
  .sidebar-second #content {
    width: 74.71526%;
    float: left;
    margin-right: 1.13895%;
  }

  .two-sidebars #sidebar-second, .two-sidebars #sidebar-first {
    width: 24.14579%;
    float: right;
    margin-right: 0;
  }
  .two-sidebars #content {
    width: 74.71526%;
    float: left;
    margin-right: 1.13895%;
  }
}
@media (min-width: 60em) {
  .container {
    max-width: 54.875em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .two-sidebars #sidebar-first {
    width: 24.14579%;
    float: left;
    margin-right: 1.13895%;
    margin-left: -75.85421%;
  }
  .two-sidebars #sidebar-second {
    width: 24.14579%;
    float: right;
    margin-right: 0;
  }
  .two-sidebars #content {
    width: 49.43052%;
    float: left;
    margin-right: 1.13895%;
    margin-left: 25.28474%;
  }
}
/*
 * This file holds the overrides for system theming
 * that is either ugly, cumbersome, or just annoying. 
 */
.element-invisible {
  display: none;
}

.contextual-links-wrapper {
  display: none;
}

.tabs {
  position: relative;
  top: 1px;
  list-style: none;
}
.tabs li {
  display: inline-block;
}
.tabs a {
  text-decoration: none;
  border: 1px solid #7f7f7f;
  display: block;
  padding: 2px 3px;
}
.tabs a.active {
  background: #b3b3b3;
}
.tabs a:hover {
  background: #cccccc;
}

/*
 * Holds the import scripts for all blocks
 * 
 */
#block-system-main-menu {
  float: left;
  width: 100%;
}
#block-system-main-menu li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 1px;
  border-right: 1px solid white;
  width: 50%;
  float: left;
  margin-right: 0;
}
#block-system-main-menu li a {
  display: block;
  text-align: center;
  color: #323232;
  text-decoration: none;
  width: 100%;
}
#block-system-main-menu li:hover {
  background: #c8c8c8;
}
#block-system-main-menu ul {
  background: #d2d2d2;
  padding: 0;
  margin: 3px 0;
}
@media (min-width: 47em) {
  #block-system-main-menu {
    width: 100%;
    float: none;
  }
  #block-system-main-menu li {
    width: auto;
  }
}

#block-block-1 ul,
#block-block-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#block-block-1 ul li,
#block-block-2 ul li {
  text-align: center;
  background: #969696;
  border-bottom: 1px solid white;
  color: white;
  padding: 10px 0;
}

#content .col {
  padding: 5px;
  text-align: center;
  margin-top: 3px;
  background: #d2d2d2;
}
#content #block-block-7 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
}
#content #block-block-7 .col-1 {
  width: 48.84793%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-7 .col-2 {
  width: 48.84793%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-8 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
}
#content #block-block-8 .col-1 {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-8 .col-2 {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-8 .col-3 {
  width: 31.79724%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-9 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-9 .col {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-9 .col:nth-child(4n) {
  float: right;
  margin-right: 0;
}
#content #block-block-10 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-10 .col {
  width: 48.84793%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-10 .col:nth-child(2n) {
  float: right;
  margin-right: 0;
}
#content #block-block-11 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-11 .col {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-11 .col:nth-child(3n) {
  float: right;
  margin-right: 0;
}
#content #block-block-12 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-12 .col-1 {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-12 .col-2 {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-12 .col-3 {
  width: 31.79724%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-12 .col-4 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-12 .col-5 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-12 .col-6 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-12 .col-7 {
  width: 23.71134%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-13 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-13 .col {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-13 .col:nth-child(4n) {
  float: right;
  margin-right: 0;
}
#content #block-block-14 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-14 .col {
  width: 31.79724%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-14 .col:nth-child(3n) {
  float: right;
  margin-right: 0;
}
#content #block-block-15 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-1 {
  width: 100%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-2 {
  width: 36.42612%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-3 {
  width: 36.42612%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-4 {
  width: 23.71134%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-15 .col-5 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-6 {
  width: 36.42612%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-7 {
  width: 36.42612%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-15 .col-8 {
  width: 36.42612%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-15 .col-9 {
  width: 61.85567%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-15 .col-10 {
  width: 100%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-1 {
  width: 49.14089%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-2 {
  width: 49.14089%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-16 .col-3 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-4 {
  width: 49.14089%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-5 {
  width: 23.71134%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-16 .col-6 {
  width: 36.42612%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-7 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-8 {
  width: 36.42612%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-16 .col-9 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-10 {
  width: 23.71134%;
  float: left;
  margin-right: 1.71821%;
  display: inline;
}
#content #block-block-16 .col-11 {
  width: 49.14089%;
  float: right;
  margin-right: 0;
  #margin-left: -0.625em;
  display: inline;
}
#content #block-block-17 {
  margin-top: 3px;
  padding: 5px 0;
  background: #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}
#content #block-block-17 .col {
  width: 30.18868%;
  float: left;
  margin-right: 4.71698%;
  display: inline;
}
#content #block-block-17 .col:nth-child(3n) {
  float: right;
  margin-right: 0;
}
#content #block-system-main {
  width: 100%;
  float: left;
  margin-right: 2.30415%;
  display: inline;
}

@media print {
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  /**
   *Colors
   */
}
