.tabs{
  position:relative;
  top:1px;
  list-style:none;
  li{
    display:inline-block;
  }
  a{
    text-decoration:none;
    border:1px solid $gray_50;
    &.active{
      background: $gray_70;
    }
    display:block;
    padding:2px 3px;
    &:hover{
      background: $gray_80;
    }
  }
}
